/*
	STCs Theme
	Author: A.Hendawee
	Version: 0.0.1 (new Branding)
	Email: hendawee@gmail.com
*/

/* BASE - normalize, variables, mixins, etc */
//@import 'base/fonts';
@import 'base/fonts';
@import 'base/variables';
@import 'base/base';
@import 'base/mixins';

/* LAYOUTS - header, footer, nav , sidebar etc */
@import 'layouts/header';
@import 'layouts/navBar';
@import 'layouts/sidebar';
@import 'layouts/profile';
@import 'layouts/cards';

/* Components - site components tabs , accordion , etc */
@import 'components/breadcrumb';
@import 'components/kbi';
@import 'components/toDoList';
@import 'components/eventSchdule';
@import 'components/tabs';

@import 'layouts/sections';
@import 'layouts/footer';
