/* Footer Style */

footer.footer {
  background: $stc_color_purple !important;
  .footerwrapper {
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 10px;
    .copyright {
      color: $stc_color_purple;
      font-size: $stc_font_size;
    }
    ul.social-icons {
      padding: 0;
      margin: 0;
      list-style: none;
      float: $reverse-direction;
      text-align: center;
      li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        a {
          border-bottom: none;
          img {
            width:24px;
            height:24px;
            margin-right: 20px;
            }
          }
        }
    }
  }
}
