/* profile Style*/

/* profile Card */
.profile {
  background-color: $stc_color_white;
  box-shadow: $stc_box_shadow;
  padding: 7px 0;
  .userImg {
    display: block;
    padding: 30px 0 10px;
    img {
      width: 120px;
      display: block;
      margin: auto;
      border: 4px solid $stc_color_border;
      border-radius: 50%;
    }
  }

  .userInfo {
    text-align: center;
    p {
      margin: 0;
      font-family: $stc_font_face_medium;
      &.name {
        color: $stc_color_onyx;
        font-size: $stc_font_size;
      }
      &.position {
        color: $stc_color_silver;
        font-size: $stc_font_size_small;
      }
    }
  }
  .userAction {
    text-align: center;
    margin-top: 15px;
    .btn {
      margin: 5px;
      color: $stc_color_white;
      box-shadow: none !important;
      &.btn-green {
        background: $stc_color_oasislight !important;
      }
      &.btn-orange {
        background: $stc_color_sunsetlight !important;
      }
    }
  }
  .userlist {
    display: block;
    .group {
      padding: 0 15px;
      font-family: $stc_font_face_medium;
      &:hover {
        .userVal {
          background: $stc_color_hover;
        }
        .userLabel {
          background: $stc_color_hover;
        }
      }
      .userLabel {
        font-size: $stc_font_size_small;
        color: $stc_color_onyx;
        padding: 10px;
        border-bottom: 1px solid $stc_color_border;
        @include transition(0.3s);
      }
      .userVal {
        font-size: $stc_font_size_small;
        color: $stc_color_silver;
        padding: 10px;
        border-bottom: 1px solid $stc_color_border;
        @include transition(0.3s);
      }
    }
  }
  .userActivity {
    margin-top: 5px;
    padding-bottom: 15px;
    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        position: relative;
        margin-#{$reverse-direction}: 20px;
        font-size: $stc_font_size_small;
        color: $stc_color_silver;
        font-family: $stc_font_face_medium;
        span {
          font-size: $stc_font_size_large;
          color: $stc_color_onyx;
          font-family: $stc_font_face_medium;
          margin-#{$reverse-direction}: 5px;
          position: relative;
          z-index: 1;
          &:after {
            content: "";
            background: $stc_color_silver;
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius: 50%;
            z-index: -1;
            #{$direction}: 10px;
          }
        }
        &.topics span:after {
          background: $stc_color_sunsetlight;
        }
        &.comment span:after {
          background: $stc_color_oasislight;
        }
        &.voting span:after {
          background: $stc_color_coral;
        }
      }
    }
  }
}

/* profile Report */
.profile-report {
  background-color: $stc_color_white;
  box-shadow: $stc_box_shadow;

  ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 15px;
      flex: 1;
      position: relative;
      @include transition(0.3s);
      &:after {
        content: "";
        position: absolute;
        background-color: $stc_color_air;
        display: block;
        width: 2px;
        height: 75px;
        top: 20px;
        #{$reverse-direction}: 0px;
      }
      &:hover {
        background: $stc_color_hover;
        &:after {
          content: none;
        }
      }
      &:last-child:after {
        content: none;
      }

      .report-caption {
        display: block;
        font-size: $stc_font_size_small;
        color: $stc_color_silver;
      }
      .report-value {
        font-size: 24px;
        display: inline-block;
        margin-#{$reverse-direction}: 10px;
        font-family: $stc_font_face_medium;
      }
      .report-degree {
        font-size: $stc_font_size_small;
        color: $stc_color_silver;
      }




       &.performances {
          span{
            &.report-value {
              font-size: 14px;
          }
          }

          p {
            display: block;
            margin: 0;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
        .progress-steps{
          display: flex;
          flex-wrap: wrap;
          margin-top: 5px;
          span{
            &.step {
              display: inline-block;
              width: 20px;
              height: 6px;
              background: #ddd;
              border-radius: 5px;
              flex: 1;
              margin-right: 5px;
              &.done {
                background: #00c48c;
            }
          }
          }
      }

       }




    }
  }
}

/*====== tasks  & requests=========*/

.profile-tasks-requests {

  .taskCard {
    border-radius: 0 !important;
    background-color: $stc_color_white;
    box-shadow: $stc_box_shadow !important;
    .taskHeader {
      font-size: 16px;
      font-family: "STC medium";
      .v-input {
        width: 20%;
        padding: 0;
        font-family: stc regular;
        font-size: 12px !important;
        margin: 0;
        .v-label {
          color: #607d8b;
          font-size: 14px;
        }
      }
    }
    .v-data-table__wrapper {
      height: 300px;
      overflow: auto;
      table {
        margin: 10px 0;
      }
        .taskItems {
          a {
            display: block;
            color: $stc_color_onyx;
            text-decoration: none;
            overflow: hidden;
            @include transition(0.3s);
            border-bottom: 1px solid $stc_color_border;
            padding: 8px 15px 15px;
            &:hover {
              background: $stc_color_hover;
            }

            &.completed {
              .cell-id {
                background: $stc_color_oasislight !important;
                &:after {
                  border-left: 10px solid $stc_color_oasislight !important;
                }
              }
              .cell-status {
                color: $stc_color_oasislight;
              }
            }

            &.Canceled {
              .cell-id {
                background: $stc_color_coral !important;
                &:after {
                  border-left: 10px solid $stc_color_coral !important;
                }
              }
              .cell-status {
                color: $stc_color_coral;
              }
            }

            &.Pending {
              .cell-id {
                background: $stc_color_sealight !important;
                &:after {
                  border-left: 10px solid $stc_color_sealight !important;
                }
              }
              .cell-status {
                color: $stc_color_sealight;
              }
            }
            &.Progress {
              .cell-id {
                background: $stc_color_silver !important;
                &:after {
                  border-left: 10px solid $stc_color_silver !important;
                }
              }
              .cell-status {
                color: $stc_color_silver;
              }
            }

            span.cell-id {
              background: $stc_color_oasislight !important;
              font-size: $stc_font_size_small;
              padding: 3px 10px;
              margin-right: 15px;
              color: white;
              position: relative;
              float: left;
              border-radius: 18px;
              letter-spacing: 2px;
              &:after {
                content: "";
                margin: 0 0 10px 0;
                width: 0px;
                height: 0px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $stc_color_border;
                display: block;
                position: absolute;
                top: 5px;
                right: -10px;
                display: none;
              }
            }
            p.cell-title {
              display: block;
              margin-left: 3px;
              font-size: $stc_font_size_small !important;
              margin-bottom: 0;
              line-height: 16px;
              height: 40px;
              overflow: hidden;
            }

            span.cell-status {
              color: $stc_color_oasislight;
              font-size: $stc_font_size_small;
              line-height: 0;
              text-transform: lowercase;
            }
            .author-info {
              line-height: 0px;
              span.cell-author {
                font-size: 10px;
                color: $stc_color_border;
                padding-right: 5px;
                border-right: 1px solid $stc_color_border;
                margin-right: 5px;
              }

              span.cell-date {
                font-size: $stc_font_size_xxsmall;
                color: $stc_color_border;
              }
            }
          }
          &:last-child a {
            border-bottom: 0px !important;
          }

      }
    }
  }

  .requestCard {
    border-radius: 0 !important;
    background-color: $stc_color_white;
    box-shadow: $stc_box_shadow !important;

    .RequestHeader {
      font-size: 15px;
      font-family: "STC medium";
      .v-input {
        width: 20%;
        padding: 0;
        font-family: stc regular;
        font-size: 12px !important;
        margin: 0;
        .v-label {
          color: #607d8b;
          font-size: 14px;
        }
      }
    }

    .v-data-table__wrapper {
      height: 300px;
      overflow: auto;
     table {
        margin: 10px 0;
     }
        .requestItems {
          a {
            display: block;
            color: $stc_color_onyx;
            text-decoration: none;
            overflow: hidden;
            @include transition(0.3s);
            border-bottom: 1px solid $stc_color_border;
            padding: 8px 15px 15px;
            &:hover {
              background: $stc_color_hover;
            }

            &.completed {
              .cell-id {
                background: $stc_color_oasislight !important;
                &:after {
                  border-left: 10px solid $stc_color_oasislight !important;
                }
              }
              .cell-status {
                color: $stc_color_oasislight;
              }
            }

            &.Canceled {
              .cell-id {
                background: $stc_color_coral !important;
                &:after {
                  border-left: 10px solid $stc_color_coral !important;
                }
              }
              .cell-status {
                color: $stc_color_coral;
              }
            }

            &.Pending {
              .cell-id {
                background: $stc_color_sealight !important;
                &:after {
                  border-left: 10px solid $stc_color_sealight !important;
                }
              }
              .cell-status {
                color: $stc_color_sealight;
              }
            }
            &.Progress {
              .cell-id {
                background: $stc_color_silver !important;
                &:after {
                  border-left: 10px solid $stc_color_silver !important;
                }
              }
              .cell-status {
                color: $stc_color_silver;
              }
            }

            span.cell-id {
              background: $stc_color_oasislight !important;
              font-size: $stc_font_size_small;
              padding: 3px 10px;
              margin-right: 15px;
              color: white;
              position: relative;
              float: left;
              border-radius: 18px;
              letter-spacing: 2px;
              &:after {
                content: "";
                margin: 0 0 10px 0;
                width: 0px;
                height: 0px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $stc_color_border;
                display: block;
                position: absolute;
                top: 5px;
                right: -10px;
                display: none;
              }
            }
            p.cell-title {
              display: block;
              margin-left: 3px;
              font-size: $stc_font_size_small !important;
              margin-bottom: 0;
              line-height: 16px;
              height: 40px;
              overflow: hidden;
            }

            span.cell-status {
              color: $stc_color_oasislight;
              font-size: $stc_font_size_small;
              line-height: 0;
              text-transform: lowercase;
            }

            .author-info {
              line-height: 0px;

              span.cell-author {
                font-size: 10px;
                color: $stc_color_border;
                padding-right: 5px;
                border-right: 1px solid $stc_color_border;
                margin-right: 5px;
              }

              span.cell-date {
                font-size: $stc_font_size_xxsmall;
                color: $stc_color_border;
              }
            }
          }
          &:last-child a {
            border-bottom: 0px !important;
          }
        }

    }
  }
}
