/* Side Bar Style */


.sidebar-menu {
  float: #{$direction};
  a {
    display: inline-block;
    img {
      width: 24px;
    }
    &#closeIcon {
      img {
        transform: rotate(180deg);
      }
    }
  }
}


.navSideBar .v-list-item__title {
  color: $stc_color_white;
}
.navSideBar .v-list-item__icon i{
  color:  $stc_color_white !important;
}

.sidebarTitle .v-list-item__title {
  color: $stc_color_silver;
  font-family: $stc_font_face_medium;
}
