/*=== ToDo Style ===*/

  .toDoListBX .card-body {
    height: 220px;
}
ul.toDoListBX-list {
    padding: 0;
    list-style: none;
}

ul.toDoListBX-list li {
    background: #eee;
    padding: 10px;
    display: flex;
    margin-bottom: 8px;
}

ul.toDoListBX-list li p {
    font-size: 14px;
    flex: 1;
    margin-bottom: 0;
}

ul.toDoListBX-list li span {
    font-size: 10px;
    flex: 0;
    display: block;
    line-height: 19px;
    margin-right: 10px;
    color: silver;
}

ul.toDoListBX-list li img {
    width: 18px;
    flex: 0;
}


